:markdown
  Getting started
  ===============

  Type a function in the panel to the right, and then click "Plot".

  When the plot has been generated, you can pan around if it
  doesn't fit on the screen.

  Click "Help" for more information.
