:markdown
  - Rotate the color wheel - choose an offset angle at "Argument"
  - Progress meter to see how long it will take to plot
  - Updated source available [on GitHub](http://github.com/pimvdb/Plomplex)
  - UI changes, bug fixes and refactoring behind the scenes
