details
  summary
    | Argument
  :markdown
    The "Argument" option defines the offset angle at which the input color
    wheel is used. The default is `0`, which has e.g. red to the right and cyan
    to the left. By setting this value to `3.14` (which is approximately pi),
    the color wheel is rotated 3.14 radians. As a result, red will be to the
    left and cyan to the right.

    To see how the color wheel exactly rotates, plot the function
    `f(z) = z` - this function shows you the color wheel directly since the
    input is not modified in any way.
