details
  summary
    | Composing a function
  :markdown
    `z` is the variable to use; the function is defined as
    `f(z)`. You can use operators, functions and constants,
    as well as complex numbers such as `2i`. Furthermore,
    it's possible to use multiplication as in
    `(z-1)(z+i)` where the `*` has been eliminated.

    ---

    The following operators are available:

    `+ - * / ^ < > <= >= == != && ||`

    ---

    The following functions are available.

    Multivalued functions have an optional last argument indicating
    the branch, where `0` is the principal branch.

    Arc functions can also be accessed with e.g. `arcsin` instead of
    `asin`.

    - `ln sqrt`
    - `sin cos tan asin acos atan`
    - `csc sec cot acsc asec acot`
    - `sinh cosh tanh asinh acosh atanh`
    - `csch sech coth acsch asech acoth`
    - `atan2`
    - `sum product`
    - `if`
    - `conj re im arg modulus` (also `|`)
    - `fact ceil floor round` (only for real numbers)

    ---

    The following constants are available:

    `pi e`
