details
  summary
    | How to copy/save
  :markdown
    After the plot has been generated, click the "Open image"
    button. A new tab will open with the image. You can save or
    copy the image by right-clicking it in the new tab.

    Notes:

    - Microsoft Word may not show the image when pasting it. In that
      case, paste the image in Microsoft Paint first, and copy it
      there.
    - If you chose a lower quality than 100%, then you will get a
      smaller image than the size you entered. This is because
      a lower quality means a smaller image is created and then
      stretched to the size you entered. The actual image
      therefore has a smaller resolution.
