details
  summary
    | Thanks for using Plomplex!
  :markdown
    By using Plomplex you are pushing the web forward. Plomplex makes use
    of some of Google Chrome's new features:

     - Canvas
     - Web Workers
     - Filesystem API
     - New elements, such as new input types, a progress bar and `<details>`
     - New CSS features, such as `-webkit-flex`
     - Fast plotting thanks to V8

    Credits:

     - Nodester - for hosting this application
     - PEG.js - used by the formula parser
