details
  summary
    | What's in a plot?
  :markdown
    A domain coloring plot is an attempt to visualize the four
    dimensions of a complex function: two input two output dimensions
    (a real and an imaginary part).

    The plot rectangle is the complex "input" plane. Each point in the
    plane has a specific color that represents the complex number
    `f(z)`. The color consists of two parts, representing
    the modulus and argument of the complex number. As for the argument,
    the hue of the color is representative. As for the modulus, there
    are two methods (see the next article).

    To see how a complex number is represented as a color, plot the
    function `f(z) = z`. This is the reference function,
    which gives back `z` unmodified, enabling you to
    directly see what color a complex number has.
